@import "_variables";
@import "_mixin";

body {
  @include font-size($base-font-size);
  line-height: $base-line-height;
  font-family: $font-sansserif;
  color: $maincolor;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

a {
  color: $maincolor;
  text-decoration: none;

}

img {
  display: block;
  margin: 0 auto;
}

/* Headings
----------------------------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

$headings: (
h1: 40,
h2: 32,
h3: 28,
h4: 24,
h5: 20,
h6: 16
);

@each $heading-name, $heading-font-size in $headings {
  #{$heading-name}, .#{$heading-name} {
    font-size: $heading-font-size + px;
    line-height: $heading-line-height;
  }
}

/* Lists
----------------------------------------------------------------------------------------------------*/
ol,
ul {
  margin: 0;
  padding: 0;

  ol,
  ul {
    padding: 0 0 0 20px;
  }
}

li {
  margin: 0;
}

/* Spacing
----------------------------------------------------------------------------------------------------*/
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin: 0;
}

/* text
----------------------------------------------------------------------------------------------------*/
p {
  @include font-size(14px);
}

strong {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text {
  $text: (
  left: left,
  center: center,
  right: right,
  );

  @each $text-name, $text-style in $text {
    &-#{$text-name} {
      text-align: $text-style !important;
    }
  }
}

.text {
  $text: (
  lowercase: lowercase,
  uppercase: uppercase,
  capitalize: capitalize,
  );

  @each $text-name, $text-style in $text {
    &-#{$text-name} {
      text-transform: $text-style !important;
    }
  }
}
