/* Utility
----------------------------------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  padding: 0;
  position: absolute;
}

img,
iframe {
  max-width: 100%;
  width: auto;
  height: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------- BOOTSTRAP LIKE -------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

/* Hidden
----------------------------------------------------------------------------------------------------*/
.hidden {

  &-xs {

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &-md {

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
}
